#icon {
    background-color: #87e4e9;
    font-size: 10rem;
    display: inline-block;
    padding: 6rem;
    margin: 80px 30px ;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#icon:hover{
    background-color: #76c8cc;
    cursor: pointer;
}