.loginform {
  background-color: #a6e3e9;
  margin: auto;
  width: 50%;
  align-content: center;
  height: 40rem;
  border-radius: 30px;
}

#ltop {
  margin-top: 20px;
  padding-top: 80px;
}

.lh1 {
  background-color: #a6e3e9;
  color: #0d686d;
  margin: 0 auto;
  padding: 30px;
  width: 30%;
}

.linput {
  display: block;
  margin: auto;
  height: 10%;
  width: 50%;
  border-style: none;
  background-color: #71c9ce;
  font-size: 2rem;
  border-radius: 20px;
  color: #0d686d;
  align-content: center;
  padding-left: 18px;
}

.lbtn {
  margin: 4rem auto;
  width: 30%;
  display: block;
  border: none;
  font-size: 3rem;
  border-radius: 12px;
  color: #0d686d;
  background-color: #89c8ce;
}
.lbtn:hover {
  color: #034246;
  cursor: pointer;
  background-color: #71c9ce;
}
